body{
    font-family: 'Open Sans', sans-serif;
}

.navbar-logo{
    width: 2.4em;
    height: 2em;
    margin-top: -5px;
}

/*********** Hero *************/

/**jumbotron halaman home**/
#jumbotron {
    margin-top: -23px;
    text-align: center;
    background-size: cover;
}

#jumbotron .jumbotron{
    background-image: url(/resources/image/hero.png);
    background-size: cover;
    color: #ffffff;
}

#jumbotron .layer {
    background-color: rgba(13, 13, 13, 0.75);
    border-radius: 1em;
    width: 100%;
    height: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

#jumbotron img:hover{ 
    top: -10px;
    
} 


@media(min-width:992px){
    .jumbotron {
        margin-top: -23px;
        text-align: center;
        background-size: cover;
        height: 21em;
        background-position: center;
    }
}

#hero .layer {
    background-color: rgba(13, 13, 13, 0.5);

    width: 100%;
    height: 100%;
}
/************* end Hero **************/

/******* book collection ******/
#book-collection .faq-title{
    margin-top: 1.7em;
    text-align: center;
}

#book-collection .card{
    min-height: 10rem;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 12px;
    padding-bottom: 12px;
    text-align: justify;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.73);
}

#book-collection .book-collection-icon{
    width: 12em;
    height: 12em;

    margin-right: 7px;
}

#book-collection .book-collection-type{
    font-size: 1.5em;
    text-align: center;
}

#book-collection .book-type-description{
    font-size: 18;
    margin-top: -5px;
    text-align: center;
}
/******* end books collection******/

/**** footer ****/
footer {
    background-color: #fff;
    color: black;
    font-size: 13px;
    padding-top: 3em;
}